
body{
    font-size: 20px;
}
.caixa-banner{
    background-image: url(../image/logistica\reversa.jpg.jpg) ;
    background-size: cover;
    background-position: center;
    height: 85vh;
    color:#7E459B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.titulo1{
    font-size: 2rem;
    text-shadow: 2px 2px rgb(rgb(165, 12, 101), rgb(49, 0, 128), rgb(255, 0, 170));
}
.subtitulo1{
    font-size: 28px;
    text-shadow: 2px 2px rgb(rgb(255, 0, 200), rgb(128, 0, 79), blue);
}
.link-sobre{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #552222;
    font-weight: bold;
    background-color: greenyellow;
    padding: 8px 20px;
    border-radius: 20px;
}
.link-cv{
    text-decoration:none;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    background-color: #7E459B;
    padding: 8px 20px;
    border-radius: 20px;
}
.caixa-sobre{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}
.nome{
    font-weight: 4rem;
    color: #7E459B;
}
.lado1{
    width: 35%;
    font-size: 4rem;
}
.margin-texto{
    margin-bottom: 40px;
    font-size: bolder;
}
.lado2{
    width: 40px;
    line-height: 1.6;
    display: flex;
}
h3{
    font-size: 25px;
}
ul{
    line-height: 1.8;
}
.titulo-sobre{
    margin-left: 100px;
    font-size: 35px;
    color: #413e3e;
}
.caixa-links{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.links{
    background-color: #552222;
    width: 170px;
    height: 170px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.icone{
    width: 50px;
    height: 50px;
    margin-top: 30px;
}
@media(max-width: 710px){
    .caixa-sobre{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

/* as duas  chaves estão certas*/
.lado1{
    width: 80%;
    text-align: justify;
}
.lado2{
    width: 80%;
    text-align: center;
    font-size: 30px;
}
.links{
    margin-top: 10px;
    width: 250px;
    height: 250px;
    font-size: 20px;
}
.icone{
    margin-top: 40px;
}
.container{
    font-size: bolder;
}
}